<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControllerViewDataParserLibrary" version="1.0.0" targetFramework="net462" />
  <package id="DataGeneratorLibrary" version="1.0.0" targetFramework="net462" />
  <package id="DataStorageLibrary" version="1.0.0" targetFramework="net462" />
  <package id="Fare" version="2.1.1" targetFramework="net462" />
  <package id="FileWriterLibrary" version="1.0.0" targetFramework="net462" />
  <package id="MethodScriptGeneratorLibrary" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="PageObjectGeneratorLibrary" version="1.0.0" targetFramework="net462" />
  <package id="QuickGraphPCL" version="3.6.61114.2" targetFramework="net462" />
  <package id="ScenarioGeneratorLibrary" version="1.0.0" targetFramework="net462" />
  <package id="TestScriptBuilderLibrary" version="1.0.0" targetFramework="net462" />
</packages>