<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ATM</title>

</head>
<body style="height: 100%">
<div style="display: table; height: 100%; width: 100%; text-align: center;">
    <span style="display: table-cell; vertical-align: middle; text-align: center;">
        <div style="display: inline-block;">
            <div style="text-align: center; display: table; border: 2px solid black; height: 300px; width: 300px; padding: 10px;">
                <span style="display: table-cell; vertical-align: middle;">
                    @RenderBody()
                </span>
            </div>
        </div>

    </span>
</div>
</body>
</html>